@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    padding-top: 15px;
}

.caption span a {
    color: rgb(14 165 233);
    font-weight: 500;
}

.caption span a:hover {
    color: rgb(7 89 133);   
}

span.logoName {
    padding-top: 0.5rem !important;
}